.container {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #6fbcf0;
}

.icon {
    font-weight: 700;

    &.normal {
        font-size: 15px;
    }

    &.big {
        font-size: 20px;
    }

    &.bigger {
        font-size: 25px;
    }

    &.huge {
        font-size: 30px;
    }
}
